[submodule "output"]
	path = output
	url = https://github.com/wllmtrng/wllmtrng.github.io.git
[submodule "themes/MinimalXY"]
	path = themes/MinimalXY
	url = https://github.com/petrnohejl/MinimalXY.git
[submodule "themes/pelican-themes"]
	path = themes/pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
